<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>PRESENTACIONCONTROLADORES.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarInformacion</servlet-name>
        <servlet-class>PRESENTACIONCONTROLADORES.ModificacionInformacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreacionPublicacion</servlet-name>
        <servlet-class>PRESENTACIONCONTROLADORES.CreacionPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>PRESENTACIONCONTROLADORES.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificacionContrasena</servlet-name>
        <servlet-class>PRESENTACIONCONTROLADORES.ModificacionContrasena</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesactivacionCuenta</servlet-name>
        <servlet-class>PRESENTACIONCONTROLADORES.DesactivacionCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambioFotoPerfil</servlet-name>
        <servlet-class>PRESENTACIONCONTROLADORES.CambioFotoPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>PRESENTACIONCONTROLADORES.CierreSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaByUsuario</servlet-name>
        <servlet-class>PRESENTACIONCONTROLADORES.BusquedaByUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReestablecimientoContrasena</servlet-name>
        <servlet-class>PRESENTACIONCONTROLADORES.ReestablecimientoContrasena</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificacionCodigoContrasena</servlet-name>
        <servlet-class>PRESENTACIONCONTROLADORES.VerificacionCodigoContrasena</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContraseñaNuevaRecuperacion</servlet-name>
        <servlet-class>PRESENTACIONCONTROLADORES.ContraseñaNuevaRecuperacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarInformacion</servlet-name>
        <url-pattern>/ModificarInformacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificacionContrasena</servlet-name>
        <url-pattern>/ModificacionContrasena</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesactivacionCuenta</servlet-name>
        <url-pattern>/DesactivacionCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambioFotoPerfil</servlet-name>
        <url-pattern>/CambioFotoPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreacionPublicacion</servlet-name>
        <url-pattern>/CreacionPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaByUsuario</servlet-name>
        <url-pattern>/BusquedaByUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReestablecimientoContrasena</servlet-name>
        <url-pattern>/ReestablecimientoContrasena</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificacionCodigoContrasena</servlet-name>
        <url-pattern>/VerificacionCodigoContrasena</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContraseñaNuevaRecuperacion</servlet-name>
        <url-pattern>/ContrasenaNuevaRecuperacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
