/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer{
    width: 100%;
    bottom: 0;
    text-align: left;
    background-color: red;
    color:white;
    position: relative;
    height: 65px;
}

.formCalificacion{ width:250px; margin:0 auto; padding:10px; border: 1px solid #d9d9d9;}

form p, form input[type = "submit"]{text-align:center; font-size:20px;}


input[type = "radio"]{ display:none;/*position: absolute;top: -1000em;*/}
label{ color:grey;}

.clasificacion{
    direction: rtl;
    unicode-bidi: bidi-override;
}

#floating-panel {
      position: absolute;
      top: 10px;
      left: 25%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      padding-left: 10px;
    }

label:hover,label:hover ~ label{color:orange;}

input[type = "radio"]:checked ~ label{color:orange;}

#map {
        height: 100%;
        float: left;
        width: 63%;
        height: 100%;
      }
      #right-panel {
        float: right;
        width: 34%;
        height: 100%;
      }

		#right-panel {
		  font-family: 'Roboto','sans-serif';
		  line-height: 30px;
		  padding-left: 10px;
		}

		#right-panel select, #right-panel input {
		  font-size: 15px;
		}

		#right-panel select {
		  width: 100%;
		}

		#right-panel i {
		  font-size: 12px;
		}

      .panel {
        height: 100%;
        overflow: auto;
      }